body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.header {
    background-color: white;
    color: rgb(141, 39, 104);
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    font-family: initial;
    text-shadow: #ce8ca5c4 1px solid;
    margin: 0;
    padding: 0;

}

.header nav {
    display: flex;
    justify-content: center;
    background-color: #ce8ca5;
    text-decoration: none;
}

.header nav a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    border: rgba(251, 251, 251, 0.446) solid 0.5px;
    padding: 1.5px;
    margin: 2px;
    font-family: initial;
}

.header nav a:hover {
    background-color: #cb8db838;
}

.content {
    padding: 20px;
    flex: 1;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    margin: 10px 0;

}

.content h1 {
    color: rgb(141, 39, 104);
}

.content p {
    margin: 5px 0;
    line-height: 1.2;
    background-color: white;
    color: rgb(141, 39, 104);
    padding: 5px 0;
}

.content a {
    color: #ce8ca5;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.produto {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(25% - 40px);
    box-sizing: border-box;
    transition: transform 0.2s;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    max-width: 100%;
    height: auto;
    width: "200px";
    height: "200px";
    border-radius: 10px;
}

.produto h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.produto p {
    font-size: 1em;
    margin: 10px 0;
}

.produto .price {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.produto button {
    background-color: #ce8ca5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.produto button:hover {
    background-color: #ce8ca5;
}

@media (max-width: 1200px) {
    .produto {
        width: calc(33% - 40px);
    }
}

@media (max-width: 768px) {
    .produto {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .produto {
        width: calc(100% - 40px);
    }
}

.submit {
    color: white;
    background-color: #ce8ca5;
    border: rgba(255, 255, 255, 0.863) 1px solid;
}

.footer {
    background-color: #ce8ca5;
    text-align: center;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}